# ========================
# Veri İşleme
# ========================
pandas>=2.0.0
numpy>=1.24.0
scipy>=1.10.0

# ========================
# Makine Öğrenmesi
# ========================
scikit-learn>=1.3.0
imbalanced-learn>=0.11.0
xgboost>=2.0.0

# ========================
# Derin Öğrenme
# ========================
tensorflow>=2.14.0

# ========================
# Görselleştirme
# ========================
matplotlib>=3.7.0
seaborn>=0.12.0
plotly>=5.15.0

# ========================
# Dashboard
# ========================
dash>=2.10.0
dash-bootstrap-components>=1.0.0
dash-iconify>=0.1.0

# ========================
# Model Saklama & Yardımcı
# ========================
joblib>=1.3.0

# ========================
# Jupyter
# ========================
jupyter>=1.0.0
notebook>=7.0.0
ipykernel>=6.25.0
shap
nbformat
reportlab
